@model IEnumerable<RestaurantRater.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuisine)
        </th>
        <th>
           Total Rating
            @*@Html.DisplayNameFor(model => model.TotalRating)*@
        </th>
        <th></th>
    </tr>



    @*<tr>
        <td>
            <div id="rating2"></div>
        </td>

        <td>
            <div id="rating3"></div>
        </td>
    </tr>*@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuisine)
        </td>

        <td>
            @*<div id="@Html.DisplayFor(modelItem => item.RestaurantId)"> </div>*@
            
            <div class="wpac-rating" data-wpac-chan="@Html.DisplayFor(modelItem => item.RestaurantId)"> </div>
                @*<div id="rating3"></div>*@


                @*@Html.DisplayFor(modelItem => item.TotalRating)*@
        </td>
         
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RestaurantId }) |
            @Html.ActionLink("Details", "Details", new { id = item.RestaurantId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RestaurantId })
        </td>
    </tr>
}

</table>
